/* =============
    Partners
============= */
#partners {
	@include lg {
		grid-template-columns: auto 80% auto;
	}
	@include xxl {
		grid-template-columns: auto 1440px auto;
	}
	>div {
		h2{
			margin: 24px 0 24px 0;

			@include lg{
				margin: 16px 0 32px 0;
			}
		}

		ul {
			display: grid;
			gap: 24px;
			grid-template-rows: repeat(6, 220px);
			@include md {
				grid-template-columns: 50% auto;
				grid-template-rows: repeat(3, 220px);
			}
			@include lg {
				grid-template-areas: 
                "p1 p1 p1 p1 p1 p2 p2 p2 p3 p3"
                "p4 p4 p5 p5 p5 p6 p6 p6 p6 p6";
				grid-template-columns: repeat(10, 1fr);
				grid-template-rows: repeat(2, 220px);
			}
			li {
				border: 1px solid red;
			}
			#p1 {
				@include lg {
					grid-area: p1;
				}
			}
			#p2 {
				@include lg {
					grid-area: p2;
				}
			}
			#p3 {
				@include lg {
					grid-area: p3;
				}
			}
			#p4 {
				@include lg {
					grid-area: p4;
				}
			}
			#p5 {
				@include lg {
					grid-area: p5;
				}
			}
			#p6 {
				@include lg {
					grid-area: p6;
				}
			}
		}
	}
}
