/* =============
   Request
============= */
#requests{

   @include md{
      grid-template-columns: auto 80% auto;
   }

   @include xxl{
      grid-template-columns: auto 720px auto;
   }


   >div{
      border: 1px solid green;

      h2{
         margin: 8px 0 32px 0;

         @include md{
            margin: 16px 0 24px 0;
         }

         @include lg{
            margin: 24px 0 32px 0;
         }
      }
   }
}